* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
li {
  list-style-type: none;
}
/* For Firefox */
progress::-moz-progress-bar {
  background: #f19066;
}

/* For Chrome or Safari */
progress::-webkit-progress-value {
  background: #f19066;
}

/* For IE10 */
progress {
  background: #f19066;
}

body {
  background-color: #778beb;
}
.ir-hidden {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #f19066;
  text-align: center;
  padding-top: 30px;
  background-color: #778beb;
  z-index: 10;
  position: sticky;
  top: 0px;
}
#scroll {
  width: 100%;
  height: 5px;
  margin-top: 10px;
  padding: 0px;
  border-radius: 0px;
}

.header #form-search {
  display: flex;
  width: 100%;
}
.header .input-search {
  width: 100%;
  height: 50px;
  flex-grow: 1;
  border-radius: 0px;
  border: none;
}
.header .btn-search {
  width: 80px;
  height: 50px;
  background-color: #f19066;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

#section-problem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section-problem .list-problem {
  width: 100%;
  background-color: #786fa6;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.list-problem li:nth-child(1) {
  flex-basis: 50%;
  font-size: 1rem;
  overflow: hidden;
}

.list-problem li:nth-child(1) a h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.list-problem li:nth-child(2) {
  flex-grow: 1;
  font-weight: bold;
  padding-left: 10px;
  white-space: nowrap;
}
.list-problem li:nth-child(3) {
  font-size: 0.8rem;
  flex-basis: 200px;
  flex-grow: 1;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 20px;
}
